# Compiled output
*.bin
*.d
*.elf
*.hex
*.srec
host/build/
host/**/build

# Operating system spew
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor junk
*.swp
*.sublime-project
*.sublime-workspace
.vscode*

# Xilinx tools create an enormous amount of poop:
firmware/cpld/**/isim/
firmware/cpld/**/_ngo/
firmware/cpld/**/_xmsgs/
firmware/cpld/**/iseconfig/
firmware/cpld/**/*_html/
firmware/cpld/**/xlnx_auto_0_xdb/
firmware/cpld/**/xst/
firmware/cpld/**/_*.cmd
firmware/cpld/**/_*.log
firmware/cpld/**/*.bld
firmware/cpld/**/*.chk
firmware/cpld/**/*.cmd
firmware/cpld/**/*.cmd_log
firmware/cpld/**/*.csv
firmware/cpld/**/*.cxt
firmware/cpld/**/*.dat
firmware/cpld/**/*.err
firmware/cpld/**/*.exe
firmware/cpld/**/*.gise
firmware/cpld/**/*.gyd
firmware/cpld/**/*.html
firmware/cpld/**/*.ini
firmware/cpld/**/*.ipf
firmware/cpld/**/*.log
firmware/cpld/**/*.lso
firmware/cpld/**/*.mfd
firmware/cpld/**/*.ng[acdr]
firmware/cpld/**/*.pad
firmware/cpld/**/*.phd
firmware/cpld/**/*.pnx
firmware/cpld/**/*.prj
firmware/cpld/**/*.rpt
firmware/cpld/**/*.stx
firmware/cpld/**/*.syr
firmware/cpld/**/*.tim
firmware/cpld/**/*.tspec
firmware/cpld/**/*.vm6
firmware/cpld/**/*.wcfg
firmware/cpld/**/*.wdb
firmware/cpld/**/*.xml
firmware/cpld/**/*.xmsgs
firmware/cpld/**/*.xrpt
firmware/cpld/**/*.xsl
firmware/cpld/**/*.xst
firmware/cpld/**/*.xwbt

firmware/**/build

*.pyc
