[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/adrihd/libopencm3
[submodule "hardware/gsg-kicad-lib"]
	path = hardware/gsg-kicad-lib
	url = https://github.com/adrihd/gsg-kicad-lib
