[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/dominicgs/libopencm3.git
[submodule "hardware/gsg-kicad-lib"]
	path = hardware/gsg-kicad-lib
	url = https://github.com/greatscottgadgets/gsg-kicad-lib.git
